<!-- <app-header></app-header> -->



<mat-card class="fill-center">
  <mat-accordion>
    <mat-expansion-panel class="boxed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>Lorem Ipsum is simply dummy text</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="boxed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>Lorem Ipsum is simply dummy text</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="boxed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>Lorem Ipsum is simply dummy text</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="boxed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>Lorem Ipsum is simply dummy text</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="boxed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>Lorem Ipsum is simply dummy text</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
    </mat-expansion-panel>

  </mat-accordion>
</mat-card>