<!-- First page which controls registeratin and login  -->

<div class="card">
        <div class="card-header">
                <h2> REGISTER </h2>
        </div>
        <div class="card-body text-center">
                <app-register *ngIf="!isLogInClicked"></app-register>
                <span class="bottomInfoBox" *ngIf="!isLogInClicked"> Already a USer ? <span class="navigationLink" (click)="onLogInClick()"> Log-in </span></span> 
                <app-login *ngIf="isLogInClicked"></app-login>
                <span class="bottomInfoBox" *ngIf="isLogInClicked"> New User ? <span class="navigationLink" (click)="onSignUpClick()"> SignUp </span></span>
        </div>

      </div>





